
# --- Node ---
node_modules/
package-lock.json
npm-debug.log*
yarn.lock
pnpm-lock.yaml

# --- Builds ---
.next/
out/
dist/
*.tsbuildinfo

# --- Firebase ---
firebase-debug.log
.firebaserc
.firebase/
serviceAccountKey.json

# --- Environment Files ---
.env*
!.env.example

# --- Editor Configs ---
.vscode/
.idea/

# --- OS Files ---
.DS_Store
Thumbs.db

# --- Logs ---
*.log
logs/

# --- Misc ---
coverage/
*.bak
*.swp
*.tmp


statly-*.json
buildinfo
.db
on


statly-*.json
buildinfo
.db
on


statly-*.json
buildinfo
.db
on

